@charset "UTF-8";
.bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bg svg {
  width: 100%;
}
.bg svg path {
  fill: #dde7ee;
  fill-opacity: 0.4;
}
.bg .wave {
  animation: wave 8s linear infinite;
}
.bg .wave1 {
  animation: wave1 10s linear infinite;
}
.bg .wave2 {
  animation: wave2 12s linear infinite;
}
@keyframes wave {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes wave1 {
  0% {
    transform: scaleY(1.2) translateX(0%);
  }
  100% {
    transform: scaleY(1.2) translateX(100%);
  }
}
@keyframes wave2 {
  0% {
    transform: scaleY(0.8) translateX(0%);
  }
  100% {
    transform: scaleY(0.8) translateX(100%);
  }
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
}
.header .logo {
  margin: 20px 0;
}
.header .logo a {
  padding: 10px;
}
.header .logo svg {
  width: 180px;
  height: 60px;
}
.header .logo svg path {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.aside {
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 40px;
  top: 0;
  z-index: 8888;
}
.aside .lnb {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.gnb ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
.gnb li {
  position: relative;
}
.gnb a {
  font-size: 4rem;
  color: transparent;
  text-transform: uppercase;
  line-height: 1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white-color);
  font-weight: 900;
  transition: all 0.6s;
}
.gnb a::before {
  content: attr(data-txt);
  overflow: hidden;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white-color);
  text-shadow: 0 0 2px var(--white-color);
  white-space: nowrap;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 0.6s ease-out;
}
.gnb li.active a,
.gnb a:hover,
.gnb a:focus {
  -webkit-text-stroke-color: transparent;
}
.gnb li.active a:before,
.gnb a:hover:before,
.gnb a:focus:before {
  height: 100%;
}

.lnb ul {
  display: flex;
}
.lnb ul li ~ li {
  margin-left: 16px;
}
.lnb ul li a {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.lnb ul li a img {
  width: 100%;
  display: block;
  transition: all 0.6s;
}
.lnb ul li a::before {
  content: attr(data-where);
  display: block;
  padding: 8px 24px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 50px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  white-space: nowrap;
  font-weight: 600;
  color: var(--default-color);
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s;
}
.lnb ul li a:hover:before,
.lnb ul li a:focus:before {
  top: -52px;
  opacity: 1;
}
.lnb ul li a:hover img,
.lnb ul li a:focus img {
  transform: rotateY(1turn);
}
.lnb ul li:first-child img {
  margin-top: -1px;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .container {
  color: var(--white-color);
  letter-spacing: 10px;
  text-align: center;
}
.main .container .main-tit {
  font-size: 10rem;
  font-weight: 600;
  line-height: 0.8;
}
.main .container .welcom-ment {
  font-size: 2rem;
  margin-top: 16px;
  line-height: 1.5;
}
.main .go-works-btn {
  top: 200px;
  padding: 32px 60px;
  border-radius: 200px;
  font-size: 2rem;
}

/* ------------------------ 퍼블리싱 ------------------------ */
.publishing_list li.publishing-project {
  display: flex;
  gap: 6%;
}
.publishing_list li.publishing-project ~ li {
  margin-top: 80px;
}
.publishing_list li.publishing-project:nth-child(2n) {
  flex-direction: row-reverse;
}

.img-wrap {
  max-width: 50%;
  position: relative;
}
.img-wrap .img-box {
  box-sizing: border-box;
  overflow: hidden;
}
.img-wrap .img-box img {
  width: 100%;
  border-radius: 24px;
}
.img-wrap .project-link {
  position: absolute;
  left: -80px;
  bottom: 20px;
}
.img-wrap .project-link a {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  transition: all 0.4s;
  font-size: 0;
  background: no-repeat center/100%;
  position: relative;
}
.img-wrap .project-link a:after {
  content: attr(data-txt);
  display: block;
  padding: 8px 24px;
  border-radius: 50px;
  font-size: 2.6rem;
  background-color: var(--point-color);
  color: var(--white-color);
  position: absolute;
  left: 80px;
  top: 8px;
  white-space: nowrap;
  opacity: 0;
  transform-origin: left;
  transition: 0.6s;
}
.img-wrap .project-link a:hover,
.img-wrap .project-link a:focus {
  transform: translateX(6px);
  box-shadow: -6px 0 0 var(--point-color);
}
.img-wrap .project-link a:hover:after,
.img-wrap .project-link a:focus:after {
  opacity: 1;
  left: 100px;
}
.img-wrap .project-link .to-info {
  background-image: url(../img/ico_info.png);
}
.img-wrap .project-link .to-web {
  background-image: url(../img/ico_link.png);
  margin-top: 16px;
}

.publishing-project:nth-child(2n) .project-link {
  left: calc(100% + 20px);
}
.publishing-project:nth-child(2n) .project-link a:after {
  left: -20px;
  transform: translateX(-100%);
}
.publishing-project:nth-child(2n) .project-link a:hover,
.publishing-project:nth-child(2n) .project-link a:focus {
  transform: translateX(-6px);
  box-shadow: 6px 0 0 var(--point-color);
}
.publishing-project:nth-child(2n) .project-link a:hover:after,
.publishing-project:nth-child(2n) .project-link a:focus:after {
  left: -40px;
}

.txt-wrap {
  align-self: flex-end;
  margin-top: 32px;
}
.txt-wrap .title-txt {
  word-break: keep-all;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -2px;
}
.txt-wrap .title-txt p {
  font-size: 2.4rem;
  font-weight: 100;
}
.txt-wrap .project-des {
  margin-top: 16px;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -0.6px;
  word-break: keep-all;
}
.txt-wrap .tags {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.txt-wrap .tags li {
  padding: 8px 16px;
  border-radius: 50px;
  background-color: var(--white-color);
  color: var(--default-color);
  font-weight: 600;
}

/* ------------------------ //퍼블리싱 ------------------------ */
/* ------------------------ 스크립트 ------------------------ */
.script ul {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}
.script ul li {
  width: 30%;
}
.script ul li:nth-child(2n) {
  margin-top: 80px;
}
.script ul li a {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  transition: 0.4s;
}
.script ul li a .img-box img {
  width: 100%;
}
.script ul li a .script-detail {
  height: 34%;
  position: absolute;
  bottom: -50%;
  left: 0;
  padding: 16px 32px;
  color: var(--white-color);
  background-color: rgba(13, 20, 25, 0.8);
  transition: 0.6s;
}
.script ul li a .script-detail .title {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}
.script ul li a .script-detail .des {
  cursor: pointer;
  margin-top: 8px;
  line-height: 1.5;
}
.script ul li a:hover,
.script ul li a:focus {
  box-shadow: 8px 8px 0 var(--point-color);
  transform: translate(-8px, -8px);
}
.script ul li a:hover .script-detail,
.script ul li a:focus .script-detail {
  bottom: 0;
}

/* ------------------------ //스크립트 ------------------------ */
.about .me {
  width: 80vw;
}

.me-cards {
  display: flex;
  gap: 40px;
}
.me-cards .info-card {
  max-width: 40vw;
}
.me-cards .info-card .img-card {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 420px;
}
.me-cards .info-card .img-card img {
  width: 100%;
}
.me-cards .info-card .introduce-card {
  display: flex;
  flex-wrap: wrap;
  transform: translate(40px, -40px);
}
.me-cards .info-card .introduce-card .hello {
  font-size: 4rem;
  line-height: 1.2;
  width: 100%;
}
.me-cards .info-card .introduce-card .hello span {
  font-weight: 600;
}
.me-cards .info-card .introduce-card .license,
.me-cards .info-card .introduce-card .education {
  margin-top: 24px;
  margin-left: 40px;
}
.me-cards .info-card .introduce-card .license h3,
.me-cards .info-card .introduce-card .education h3 {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--white-color);
  color: var(--default-color);
}
.me-cards .info-card .introduce-card .license p,
.me-cards .info-card .introduce-card .education p {
  line-height: 1.5;
  margin-bottom: 8px;
}
.me-cards .info-card .introduce-card .license p .date,
.me-cards .info-card .introduce-card .education p .date {
  margin-right: 16px;
  font-size: 1.4rem;
  display: block;
  text-decoration: underline;
}
.me-cards .info-card .info-btn-grp {
  display: flex;
  margin-left: 40px;
}
.me-cards .info-card .info-btn-grp .resume-btn,
.me-cards .info-card .info-btn-grp .portfolio-download-btn {
  padding: 16px 24px;
  border-radius: 200px;
  font-size: 1.8rem;
  font-weight: 400;
}
.me-cards .info-card .info-btn-grp .portfolio-download-btn {
  margin-left: 16px;
}
.me-cards .skill-list {
  padding: 40px;
  margin-top: 80px;
  border-radius: 32px;
  flex-basis: 30vw;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--default-color);
}
.me-cards .skill-list .skill-card ~ .skill-card {
  margin-top: 16px;
}
.me-cards .skill-list .skill-card h3 a {
  padding: 8px 16px;
  box-shadow: -4px 0 0 var(--point-color);
  /* border-left: 4px solid var(--point-color);
  border-bottom: 4px solid var(--point-color); */
  font-weight: 600;
  font-size: 2rem;
}
.me-cards .skill-list .skill-card h3 a:hover,
.me-cards .skill-list .skill-card h3 a:focus {
  text-decoration: underline;
}
.me-cards .skill-list .skill-card .des {
  line-height: 1.5;
  padding: 8px 0 8px 24px;
  word-break: keep-all;
  display: none;
}
.me-cards .skill-list .skill-card.active .des {
  display: block;
}

/* ---------------------- footer -------------------- */
footer {
  margin-top: 300px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.contact:before {
  content: "매일매일 확인하고 있어요!";
  padding: 8px 24px;
  border-radius: 40px;
  background-color: var(--white-color);
  color: var(--default-color);
  font-weight: 600;
  position: absolute;
  top: -60px;
}
.contact:after {
  content: "";
  border: 8px solid transparent;
  border-right-color: var(--white-color);
  border-bottom-color: var(--white-color);
  position: absolute;
  top: -32px;
  transform: rotate(45deg);
}
.contact .ment {
  font-size: 3rem;
  font-weight: 200;
}
.contact .ment span {
  font-weight: 600;
  background-color: var(--point-color);
}

.contact_link {
  margin-top: 80px;
}
.contact_link ul {
  display: flex;
}
.contact_link ul li ~ li {
  margin-left: 16px;
}
.contact_link ul li a {
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact_link ul li a img {
  width: 100%;
  display: block;
  transition: all 0.6s;
}
.contact_link ul li a::before {
  content: attr(data-where);
  display: block;
  padding: 8px 24px;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 50px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  white-space: nowrap;
  font-weight: 600;
  color: var(--default-color);
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s;
}
.contact_link ul li a:hover:before,
.contact_link ul li a:focus:before {
  top: -52px;
  opacity: 1;
}
.contact_link ul li a:hover img,
.contact_link ul li a:focus img {
  transform: rotateY(1turn);
}
.contact_link ul li:first-child img {
  margin-top: -1px;
}

.footer-logo {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.footer-logo a {
  width: 120px;
  padding: 10px;
}
.footer-logo svg {
  width: 120px;
  height: 40px;
}
.footer-logo svg path {
  fill: none;
  stroke: var(--white-color);
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.copy {
  margin: 20px 0 40px;
  text-align: center;
}

/* ---------------------- //footer -------------------- */

/*# sourceMappingURL=index.css.map */
