@charset "utf-8";

/* 
d:
cd \윤다슬\코딩\2022_web-portfolio
sass --watch scss:css
 */
:root {
  font-size: 10px;
  --default-color: #0d1419;
  --point-color: coral;
  --white-color: #fff;
  --reverse-color: #fff;
}
body {
  background-color: var(--default-color);
  /* background-image: url(../img/bg2.jpg), url(../img/bg-reverse2.jpg);
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: contain; */

  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a:focus,
button:focus {
  outline: 2px solid var(--point-color);
}

h3,
h2,
p,
span {
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
  &::selection {
    background-color: coral;
  }
}

.inner {
  min-width: 480px;
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
}
.sec-tit {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12rem;
  margin-left: 40px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--white-color);
  color: transparent;

  transform: rotate(90deg);
  transform-origin: left;
  line-height: 0;

  position: relative;
  left: 40px;
  z-index: 80;
}

.works article,
.about article {
  padding-top: 40px;
  margin-top: 120px;
  position: relative;
}

.btn {
  border: 2px solid var(--white-color);
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 6px 6px 0 var(--point-color);

  text-transform: uppercase;
  font-weight: 600;
  color: var(--white-color);

  position: relative;
  transition: all 0.6s;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--point-color);

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transform: translate(6px, 6px);
    opacity: 0;
    transform-origin: right bottom;
    transition: all 0.4s;
  }
  &:hover,
  &:focus {
    box-shadow: none;
  }
  &:hover:before,
  &:focus:before {
    transform: translate(0, 0);
    opacity: 1;
    border-radius: 200px;
  }
}
