@charset "utf-8";
@import "variable", "common", "header", "aside", "animation";

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    color: $white_color;
    letter-spacing: 1rem;
    text-align: center;
    .main-tit {
      font-size: 10rem;
      font-weight: 600;
    }

    br {
      display: none;
    }

    .welcom-ment {
      font-size: 2rem;
      margin-top: 1.6rem;
      line-height: 1.5;
    }
  }
  .go-works-btn {
    top: 20rem;
    padding: 3.2rem 6rem;
    border-radius: 20rem;

    font-size: 2rem;
  }
}

@media all and (max-width: 1279px) {
  .main {
    .main-tit {
      line-height: 1;
      br {
        display: block;
      }
    }
  }
}

/* ------------------------ 퍼블리싱 ------------------------ */

.publishing-project {
  display: flex;
  align-items: flex-start;
  gap: 4%;

  ~ li {
    margin-top: 8rem;
  }
  > div {
    width: 48%;
    flex-grow: 1;
  }
}

.img-wrap {
  position: relative;

  .img-box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2.4rem;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  /* .project-link {
    position: absolute;
    left: -8rem;
    bottom: 2rem;
    a {
      height: 6rem;
      border-radius: 5rem;

      transition: all 0.4s;

      font-size: 0;
      color: $white_color;

      position: relative;
      &:after {
        content: attr(data-txt);
        display: block;
        padding: 0.8rem 2.4rem;
        border-radius: 5rem;
        font-size: 2.6rem;
        background-color: $point_color;
        color: $white_color;

        position: absolute;
        left: 8rem;
        top: 0.8rem;
        white-space: nowrap;
        opacity: 0;

        transform-origin: left;
        transition: 0.6s;
      }
      &:hover {
        transform: translateX(0.6rem);
        box-shadow: -0.6rem 0 0 $point_color;
      }
      &:hover:after {
        opacity: 1;
        left: 10rem;
      }
    }

    .to-web {
      margin-top: 1.6rem;
    }

    img {
      height: 100%;
    }
  } */
}

.txt-wrap {
  margin-top: 4rem;
  align-self: flex-end;

  .title-txt {
    word-break: keep-all;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -2px;

    p {
      font-size: 2.4rem;
      font-weight: 100;
    }
  }

  .project-des {
    margin-top: 2.4rem;
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: -0.6px;
    word-break: keep-all;
  }

  .tags {
    margin-top: 2.4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem 0.8rem;

    li {
      padding: 0.8rem 2.4rem;
      border-radius: 5rem;
      background-color: $white_color;

      color: $default_color;
      font-size: 1.6rem;
      font-weight: 600;

      transition: transform 0.4s;
      transform: translateY(0);

      &:hover {
        transform: translateY(-4px);
        background-color: $point_color;
        color: $white_color;
      }
    }
  }
}

/* 호버 박스 */
.publishing-project {
  .img-wrap {
    &:after {
      content: "웹사이트 바로가기";
      display: block;
      width: 40%;
      padding: 2rem 6rem;
      border-top-right-radius: 1.6rem;
      border-bottom-right-radius: 1.6rem;
      border: 4px solid $white_color;
      background-color: $point_color;

      color: $white_color;
      font-weight: 600;
      font-size: 2.4rem;

      position: absolute;
      z-index: -1;
      top: 10%;
      right: 0;
      box-shadow: -4px 4px 0 $point_color;
      transition: all 0.4s;
    }

    &:hover .img-box {
      outline: 4px solid $white_color;
    }

    &:hover:after {
      right: -60%;
    }
  }
}

.publishing-project:nth-child(2n) {
  .img-wrap {
    &:after {
      border-radius: 0;
      border-top-left-radius: 1.6rem;
      border-bottom-left-radius: 1.6rem;

      left: 0;
      right: none;
      box-shadow: 4px 4px 0 $point_color;
    }
    &:hover:after {
      right: none;
      left: -60%;
    }
  }
}

/* 호버 박스 */

@media all and (min-width: 1280px) {
  .publishing_list {
    margin-right: 22vw;
    margin-left: 16vw;
  }

  .publishing-project:nth-child(2n) {
    flex-direction: row-reverse;
    /* .project-link {
      left: calc(100% + 2rem);
      a {
        &:after {
          left: -2rem;
          transform: translateX(-100%);
        }
        &:hover {
          transform: translateX(-0.6rem);
          box-shadow: 0.6rem 0 0 $point_color;
        }
        &:hover:after {
          left: -4rem;
        }
      }
    } */
  }
}

@media all and (max-width: 1279px) {
  .publishing_list {
    margin: 0 10vw;
  }
  .publishing-project {
    > div {
      width: 80%;
    }
  }

  .img-wrap {
    align-self: center;
    max-width: none;

    /* .project-link {
      position: static;

      display: flex;
      justify-content: center;
      gap: 2rem;

      margin-top: 1.6rem;

      a {
        height: 4rem;
        line-height: 4rem;
        border-radius: 5rem;

        font-size: 1.6rem;
        color: $white_color;
        transition: all 0.4s;

        display: flex;

        position: relative;
        &:after {
          content: attr(data-txt);
          display: none;
        }
        &:hover {
          transform: translateX(0.6rem);
          box-shadow: -0.6rem 0 0 $point_color;
        }
        &:hover:after {
          opacity: 1;
          left: 10rem;
        }
      }

      .to-web {
        margin-top: 0;
      }

      img {
        height: 100%;
        margin-right: 1rem;
      }
    } */
  }

  .txt-wrap {
    br {
      display: none;
    }

    .title-txt {
      font-size: 3rem;

      p {
        font-size: 1.6rem;
        font-weight: 100;
      }
    }

    .project-des {
      font-size: 1.6rem;
    }

    .tags {
      li {
        font-size: 1.4rem;
      }
    }
  }
}

@media all and (max-width: 1025px) {
  .publishing-project {
    flex-direction: column;
    > div {
      width: 80%;
    }

    .txt-wrap {
      align-self: center;
      br {
        display: none;
      }
    }
  }
}

/* ------------------------ //퍼블리싱 ------------------------ */

/* ------------------------ 스크립트 ------------------------ */

.script {
  ul {
    padding: 0 16vw 0 10vw;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
  }

  li {
    flex-basis: 30%;

    @media all and (min-width: 1300px) {
      &:nth-child(3n-1) {
        margin-top: 8rem;
      }
    }

    a {
      .img-box {
        border-radius: 2.4rem;
        overflow: hidden;
        img {
          width: 100%;
        }
        transition: 0.4s;
      }
      .script-detail {
        margin-top: 2.4rem;
        line-height: 1.5;
        color: $white_color;
        .title {
          font-size: 2.4rem;
          font-weight: bold;
        }
        .des {
          margin-top: 0.8rem;
          font-size: 1.6rem;
        }
      }
    }

    .img-box:hover {
      outline: 4px solid $white_color;
      box-shadow: 0.8rem 0.8rem 0 $point_color;
      transform: translate(-0.8rem, -0.8rem);
    }
  }
}

@media all and (max-width: 1279px) {
  .script {
    ul {
      display: block;
    }
    li {
      ~ li {
        margin-top: 2.4rem;
      }
      a {
        display: flex;
        > div {
          flex-basis: 50%;
          flex-grow: 1;
        }

        .script-detail {
          margin-left: 2.4rem;
          align-self: center;
        }
      }
    }
  }
}
@media all and (max-width: 769px) {
  .script {
    li {
      a {
        display: block;
      }
    }
  }
}

/* ------------------------ //스크립트 ------------------------ */
.about {
  width: 90vw;

  .me-cards {
    display: flex;
    gap: 5%;
  }
}

.info-card {
  width: 50%;
  .img-card {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    height: 42rem;

    img {
      width: 100%;
    }
  }

  .introduce-card {
    margin-left: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 4%;
    .hello {
      font-size: 4rem;
      line-height: 1.2;
      width: 100%;
      word-break: keep-all;

      margin-top: -4rem;
      span {
        font-weight: 600;
      }
    }

    .license,
    .education {
      width: 48%;
      h3 {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 8px;
        margin-bottom: 8px;

        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 1px;

        background-color: $white_color;
        color: $default_color;
      }

      p {
        line-height: 1.5;
        margin-bottom: 8px;
        .date {
          margin-right: 16px;
          font-size: 1.4rem;
          display: block;
          text-decoration: underline;
        }
      }
    }
  }

  .info-btn-grp {
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;
    .resume-btn,
    .portfolio-download-btn {
      padding: 1.6rem 2.4rem;
      border-radius: 20rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .portfolio-download-btn {
      margin-left: 16px;
    }
  }
}

.skill-list {
  width: 30%;
  padding: 4rem;
  margin-top: 8rem;
  border-radius: 32px;
  align-self: flex-start;

  background-color: rgba(#fff, 0.8);
  color: $default_color;
  .skill-card {
    ~ .skill-card {
      margin-top: 1.6rem;
    }

    h3 {
      a {
        padding: 0.8rem 1.6rem;
        box-shadow: -0.4rem 0 0 $point_color;
        /* border-left: 4px solid var(--point-color);
        border-bottom: 4px solid var(--point-color); */
        font-weight: 600;
        font-size: 2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .des {
      line-height: 1.5;
      padding: 0.8rem 0 0.8rem 2.4rem;
      word-break: keep-all;
      display: none;
    }

    &.active {
      .des {
        display: block;
      }
    }
  }
}

@media all and (max-width: 1025px) {
  .about {
    width: 100vw;
    .me-cards {
      flex-direction: column;
      align-items: center;
    }
  }

  .info-card {
    width: 90%;
  }

  .skill-list {
    width: 80%;
    align-self: center;
  }
}

/* ---------------------- footer -------------------- */
footer {
  margin-top: 30rem;
  @at-root .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    position: relative;
    &:before {
      content: "매일매일 확인하고 있어요!";
      padding: 0.8rem 2.4rem;
      border-radius: 4rem;
      background-color: $white_color;

      color: $default_color;
      font-weight: 600;

      position: absolute;
      top: -6rem;
    }

    &:after {
      content: "";
      border: 0.8rem solid transparent;
      border-right-color: $white_color;
      border-bottom-color: $white_color;
      position: absolute;
      top: -3.2rem;
      transform: rotate(45deg);
    }

    .ment {
      font-size: 3rem;
      font-weight: 200;

      span {
        font-weight: 600;
        background-color: $point_color;
      }
    }
  }

  @at-root .contact_link {
    margin-top: 8rem;
    ul {
      display: flex;
    }

    li {
      ~ li {
        margin-left: 1.6rem;
      }

      a {
        width: 5rem;
        height: 5rem;
        padding: 0.4rem;
        border-radius: 50%;
        border: 0.1rem solid $white_color;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        font-size: 0;

        &::before {
          content: attr(data-where);
          display: block;
          padding: 0.8rem 2.4rem;
          text-align: center;
          background-color: $white_color;
          border-radius: 5rem;
          box-shadow: 0 0 0.4rem rgba(#fff, 0.5);

          font-size: 1.6rem;
          white-space: nowrap;
          font-weight: 600;
          color: $default_color;

          position: absolute;
          top: -3.2rem;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;

          transition: all 0.2s;
        }
      }

      a:hover:before {
        top: -5.2rem;
        opacity: 1;
      }

      a:hover svg {
        transform: rotateY(1turn);
      }

      &:first-child svg {
        margin-top: -0.1rem;
      }
    }

    li svg {
      width: 50px;
      height: 50px;
      transition: all 0.6s;

      path {
        fill: #fff;
      }
      polygon {
        fill: #fff;
      }
      polyline {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }

  @at-root .footer-logo {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    a {
      width: 12rem;
      padding: 1rem;
    }
    svg {
      width: 12rem;
      height: 4rem;
      path {
        fill: none;
        stroke: $white_color;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
      }
    }
  }

  @at-root .copy {
    margin: 2rem 0 4rem;
    text-align: center;
  }
}

/* ---------------------- //footer -------------------- */

.alert-box {
  padding: 2rem 4rem;
  background-color: $white_color;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;

  color: $default_color;
  font-weight: 600;
  text-align: center;

  position: fixed;
  top: -20rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}

.alert-box.active {
  top: 0;
}
