@charset "utf-8";

* {
  margin: 0;
  padding: 0;

  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #172027;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider .slider_wrap {
  width: 80vw;

  position: relative;
}

.slider_wrap ul {
  width: calc(32vw * 10);
  position: relative;
  left: -32vw;
  list-style: none;

  display: flex;
}

.slider_wrap ul::after {
  content: "";
  display: block;
  clear: both;
}

.slider_wrap ul li {
  /* float: left; */
  list-style: none;
  position: relative;
  /* outline: 1px solid red; */
}

.slider_wrap ul li .img-box {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  background-color: #336699;
  overflow: hidden;
  position: relative;

  transition: all 0.8s;
}

.slider_wrap ul li.active .img-box {
  border-radius: 0;
}
.img-box img {
  opacity: 0.6;
  width: 100%;
}
.slider_wrap ul li.active .img-box img {
  opacity: 1;
}
.slider_wrap ul li .des {
  margin-top: 32px;
  padding: 16px;
  width: 100%;
  max-width: 440px;
  border-top: 4px solid white;
  color: #fff;
  font-size: 24px;

  opacity: 0;
  transition: opacity 0.6s;
}

.slider_wrap ul li.active .des {
  opacity: 1;
}

.slider_wrap li:nth-child(1) .img-box {
  transform: translateX(-18vw);
}
.slider_wrap li:nth-child(2) .img-box {
  transform: translateX(2vw);
}
.slider_wrap li:nth-child(3) .img-box {
  transform: translateX(-8vw);
}
.slider_wrap li:nth-child(4) .img-box {
  transform: translateX(-18vw);
}

.slider .btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.slider .btns:active {
  border: 4px solid #336699;
}

.prev-btn,
.next-btn {
  display: block;
  width: 80px;
  height: 80px;
  background-color: lightsalmon;
  border-radius: 50%;
  border: none;

  font-size: 2rem;

  position: absolute;
  top: calc(50% - 40px);
  cursor: pointer;
}
.prev-btn {
  left: -100px;
}

.next-btn {
  right: -100px;
}

.slider .btns span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #172027;
}

.prev-btn span:first-child {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate(-2px, 2px);
}
.prev-btn span:last-child {
  transform-origin: left top;
  transform: rotate(45deg) translate(-2px, -2px);
}
.next-btn span:first-child {
  transform-origin: right bottom;
  transform: rotate(45deg) translate(2px, 2px);
}
.next-btn span:last-child {
  transform-origin: right top;
  transform: rotate(-45deg) translate(2px, -2px);
}
